{% extends 'mainapp/base.html' %}

{% block content %}

{% with range as second_range %}

<div class="row">

  <div class="col-lg-8">
    <div class="card my-2">
      <div class="card-body">
        <a name="{{ news_item }}"></a>
        <h5 class="card-title">{{ object.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ object.created_at|date:"d.m.Y H:i" }}</h6>
        <p class="card-text">{{ object.preamble }}</p>
        <p class="card-text">{{ object.body }}</p>
        <a href="{% url 'mainapp:news_detail' %}" class="card-link">Подробнее</a>
      </div>
    </div>
  </div>

</div>



{% endwith %}

{% endblock %}